/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --gray-900: hsl(210, 5%, 8%);
  --gray-400: hsl(210, 5%, 70%);
  --gray-300: hsl(210, 5%, 80%);
  --gray-100: hsl(210, 5%, 95%);
  --primary-red: hsl(356, 81%, 27%);
  --primary-red-dark: hsl(356, 69%, 15%);
  --primary-red-transparant: hsla(356, 65%, 24%, 40%);
  --border-thin: 1px;
  --border-color: gray;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--gray-900);
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

table {
  border-collapse: collapse;
  border-spacing: unset;
  border-color: gray;
}

td,
th {
  padding: var(--s-3);
}

table td + td,
table th + th {
  border-left: 1px solid;
}

tbody tr:nth-child(even) {
  background-color: var(--gray-900);
  color: var(--gray-100);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: var(--s-1);
}

.border-none {
  border: none;
}
